<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    
    <div style="text-align: center;" class="container">
        <h1>Encurtando links</h1>
        <hr>
        <form action="{% url 'val_link' %}"method="POST">
            {% csrf_token %}
            <table>
                <label>Digite o link para encurtar</label>
                <br>
                {{ form.link_redirecionado }}

                <br>
                <label>Digite como deseja seu link</label>
                <br>
                <label>diego.com.br</label>
                {{ form.link_encurtado }}
                <br>
                {% if status == "1" %}
                <p style="color: red">O link digitado já existe</p>
                {% endif %}

                <input type="submit">
            </table>

        </form>
    
    
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
  </body>
</html>